html{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, rgb(171, 173, 173), rgba(217, 224, 224, 0.712),rgb(171, 173, 173));
}
.container{

    width: 60%;
    height: 95vh;
    margin: 0rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(3, 105, 105, 0.637), rgba(0, 128, 128, 0.479),rgba(3, 105, 105, 0.637));
    border-radius: 30px
}
.listado-canciones{
    width: 90%;
    height: 40%;
}
.cancion{
    padding: 1rem 2rem;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.titulo{
    flex: 6;
}
.play:hover{
    color: rgb(7, 168, 7);
}
.stop:hover{
    color: rgb(253, 112, 87);
}
.play, .stop, .descargar{
    flex: 1;
}
.material-icons{
    cursor: pointer;
    border-radius: 10px;
}
.cancionIniciada{
    color: green;
}
.cancionPausa{
    color: red;
}
.descarga{
color: rgb(3, 121, 121);
}
.descarga:hover{
    color: rgb(16, 214, 214);
}
.controlV{
    width: 40%;

}


.portada{
    width: 35%;
    height: 35%;
    margin: 0rem auto 2rem auto;
    background-color: rgb(3, 121, 121);

align-items: center;
box-shadow: 
12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
-8px -8px 12px 0 rgba(0, 0, 0, .25) inset;
border-radius: 40px;
display: flex;
justify-content: center;
}
.imagenportada{
    background-size: cover;
    width: 85%;
    height: 85%;
    background-image: url(./portadas/seth.jpg);
    border-radius: 20px;
    box-shadow:
    -8px -8px 12px 0 rgba(0, 0, 0, .25) inset;
}
.contenedorSecu{
    height: fit-content;
    margin: 0 0 0 auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
@media screen and (max-width: 816px) {
    .container{
        width: 75%;
    }
    .portada{
        width: 40%;
    }
}
@media screen and (max-width: 548px) {
    .container{
        width: 80%;
    }
    .portada{
        width: 60%;
    }

}
@media screen and (max-width: 348px) {
    .container{
        width: 90%;
    }
    .titulo{
        flex: 3;
    }
    .portada{
        width: 80%;
    }
    .contenedorSecu{
        margin-top: 5%;
    }
}
@media screen and (max-width: 348px) {
    .container{
        width: 90%;
    }
    .titulo{
        flex: 2;
    }
}
